/* RESET STILI DI BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    background-color: #f0f8ff; /* Azzurro chiaro simile al cielo */
    color: #0077b6;
}

/* Header */
header {
    background-color: #0077b6; /* Blu mare */
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header nav a:hover {
    color: #ffcc00; /* Giallo sabbia per effetto hover */
}

/* Sezione principale - Intro */
#intro {
    background-color: #00b4d8; /* Turchese */
    text-align: center;
    padding: 80px 20px;
    color: white;
    border-bottom: 5px solid #0077b6; /* Blu per separare */
}

#intro h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #ffcc00; /* Giallo sabbia */
    color: #333;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 25px;
}

.cta-btn:hover {
    background-color: #ff9900; /* Giallo più scuro */
}

/* Sezione Features */
#features {
    background-color: #ffffff; /* Sfondo bianco per contrasto */
    padding: 40px 20px;
    text-align: center;
}

#features h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #0077b6; /* Blu mare */
}

.feature {
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.8em;
    color: #0077b6;
}

.feature p {
    font-size: 1.1em;
    color: #555;
}

/* Footer */
footer {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 15px;
        margin-left: 20px;
    }

    #intro h1 {
        font-size: 2.5em;
    }

    #features h2 {
        font-size: 2em;
    }

    .cta-btn {
        padding: 12px 25px;
        font-size: 1.2em;
    }
    #ombrelloni-intro {
        margin-left: 10px;  /* Riduci il margine sinistro sui dispositivi mobili */
        margin-right: 10px; /* Riduci il margine destro sui dispositivi mobili */
    }

    .ombrellone {
        margin-left: 10px;  /* Riduci il margine sinistro sugli ombrelloni */
        margin-right: 10px; /* Riduci il margine destro sugli ombrelloni */
    }
    #review-container {
        width: 95%;  /* Aumenta la larghezza del contenitore sui dispositivi mobili */
        height: 300px;  /* Modifica l'altezza per adattarla meglio su schermi più piccoli */
        padding: 20px;  /* Riduci un po' il padding per risparmiare spazio */
        margin-left: 10px;
        margin-right: 10px;
    }

    .carousel-image {
        width: 100%;  /* Le immagini si adattano alla larghezza del contenitore */
        height: 100%;  /* Le immagini occupano tutta l'altezza disponibile */
    }
     /* Ridurre la dimensione del testo delle descrizioni e dei titoli */
     .menu-category h3 {
        font-size: 1.0em;          /* Riduce la dimensione del titolo */
    }

    .menu-category .product-info p {
        font-size: 0.9rem;         /* Riduce la dimensione della descrizione */
    }

    .menu-category .product-info .price {
        font-size: 1.1rem;         /* Riduce il prezzo */
    }

    .menu-category li {
        padding: 10px 0;           /* Riduce il padding per ciascun elemento */
    }
    .menu-category ul {
        max-width: none;   /* Rimuove la larghezza massima */
        width: 100%;       /* Assicura che la lista occupi tutta la larghezza */
    }
}






/* Stili per il menù */
#menu-intro h1 {
    font-size: 2.5rem;
    color: #0077b6; /* Assumendo che il colore scuro sia quello desiderato */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
}


.menu-category {
    width: 30%;
    margin-bottom: 30px;
    margin-left: 20px;  /* Margine sinistro */
    margin-right: 20px;  /* Margine destro */
}


.menu-category {
    width: 30%;
    margin-bottom: 30px;
}

.menu-category h2 {
    font-size: 2.0em;
    color: #ff0000; /* Blu mare */
    text-align: center;   
    margin-bottom: 20px;
}

.menu-category ul {
    list-style: none;
}

/* Modifica il padding e margine della lista (li) per ridurre gli spazi */
.menu-category li {
    padding: 8px 0;              /* Riduce il padding verticale per ogni elemento */
    font-size: 1rem;             /* Mantiene una dimensione del testo ragionevole */
    border-bottom: 1px solid #ccc;
}

.menu-category h3 {
    font-size: 1.4em;            /* Modifica per rendere il testo del titolo più piccolo */
    margin: 5px 0;    
    color: #0077b6;
}

.menu-category p {
    font-size: 0.9rem;           /* Riduce ulteriormente la dimensione del testo */
    width: 90%;                  /* Mantiene una larghezza decente per le descrizioni */
    margin: 5px auto;            /* Riduce lo spazio verticale tra il nome e la descrizione */
    line-height: 1.3;            /* Riduce lo spazio tra le righe */
    text-align: center;  
}


.price {
    font-weight: bold;
    color: #ffcc00; /* Giallo sabbia */
    font-size: 1.2rem;           /* Riduce la dimensione del prezzo */
    text-align: right;           /* Mantiene il prezzo a destra */
    margin-top: 5px;  
}

#order-now {
    text-align: center;
    margin-top: 40px;
}

#order-now .cta-btn {
    background-color: #ffcc00;
    color: #333;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 25px;
}

#order-now .cta-btn:hover {
    background-color: #ff9900;
}
/* Modifica al pulsante (cta-btn) per abbassarlo */
.cta-btn {
    display: inline-block;
    padding: 15px 30px; /* Spaziatura interna */
    background-color: #ffcc00; /* Colore di sfondo blu */
    color: #333; /* Colore del testo */
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 30px; /* Aggiungi questo per abbassare il bottone */
}

.cta-btn:hover {
    background-color: #0099cc; /* Colore di sfondo quando il mouse passa sopra */
}
#menu-intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f8db01;
    color: rgb(243, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 30px; /* Abbassa il bottone ulteriormente */
}

.cta-btn:hover {
    background-color: #0099cc;
}






/* Sezione Ordina */
#order-details {
    margin-top: 40px;
    text-align: center;
}

#order-details input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 2px solid #0077b6;
    border-radius: 5px;
    width: 80%;
}

#whatsapp-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #25d366; /* Colore di WhatsApp */
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 25px;
}

#whatsapp-button:hover {
    background-color: #128c7e; /* Colore WhatsApp scuro */
}
#order-intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}

#order-intro h1 {
    font-size: 2.5rem; /* Puoi mantenere la stessa dimensione del titolo */
    color: #0077b6; /* Colore blu mare, come in #menu-intro */
    font-family: 'Roboto', sans-serif; /* Stessa font */
    text-align: center;
    margin-top: 20px;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f8db01; /* Giallo sabbia */
    color: rgb(243, 0, 0); /* Colore rosso */
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 30px; /* Abbassa il pulsante come in #menu-intro */
}

.cta-btn:hover {
    background-color: #0099cc; /* Cambia quando il mouse passa sopra */
}







/* Sezione Ombrelloni */
#ombrelloni-intro {
    text-align: center;
    margin-bottom: 40px;
}

#ombrelloni-intro h1 {
    font-size: 2.5em;
    color: #0077b6; /* Blu mare */
}

#ombrelloni-types {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-left: 20px;  /* Margine sinistro per l'intero contenitore */
    margin-right: 20px; /* Margine destro per l'intero contenitore */
}

.ombrellone {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #0077b6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.ombrellone:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.ombrellone h2 {
    font-size: 2em;
    color: #0077b6;
}

.ombrellone p {
    font-size: 1.1em;
    color: #555;
}

/* Sezione Info Personale */
#info-personale {
    text-align: center;
    margin-top: 40px;
}

#info-personale p {
    font-size: 1.2em;
    color: #0077b6;
    font-weight: bold;
}




/* Sezione Recensioni */
#recensioni {
    text-align: center;
    margin-top: 40px;
}

#recensioni h1 {
    font-size: 2.5em;
    color: #0077b6; /* Blu mare */
}

/* Contenitore delle recensioni */
.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #0077b6;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 400px; /* Altezza fissa per creare un quadrato */
    overflow: hidden; /* Nasconde le recensioni che escono fuori */
}

/* Ogni recensione */
.review {
    display: none; /* Nascondi le recensioni inizialmente */
    padding: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
    border: 1px solid #0077b6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.review-text {
    font-size: 1.2em;
    color: #555;
}

.stars {
    font-size: 1.5em;
    color: gold;
    margin: 10px 0;
}

.review-author {
    font-size: 1.1em;
    font-weight: bold;
    color: #0077b6;
}

/* Testo per altre recensioni centrato */
.more-reviews {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #0077b6;
}

.more-reviews a {
    color: #0077b6;
    text-decoration: none;
}

.more-reviews a:hover {
    text-decoration: underline;
}

/* Stili per il pulsante "Vedi altre recensioni" */
.review-button {
    background-color: #ff8c00; /* Arancione caldo */
    color: white; /* Colore del testo bianco */
    border: none; /* Nessun bordo */
    padding: 15px 30px; /* Spaziatura intorno al testo */
    font-size: 16px; /* Dimensione del testo */
    font-weight: bold; /* Testo in grassetto */
    border-radius: 8px; /* Angoli arrotondati */
    cursor: pointer; /* Cursore a mano quando si passa sopra */
    transition: all 0.3s ease; /* Transizione morbida per gli effetti */
    margin-top: 20px; /* Distanza sopra il pulsante */
}

.review-button:hover {
    background-color: #e67e00; /* Cambia colore quando il mouse passa sopra */
    transform: translateY(-2px); /* Effetto sollevamento del pulsante */
}

.review-button:active {
    background-color: #d46e00; /* Cambia colore quando cliccato */
    transform: translateY(1px); /* Effetto abbassamento del pulsante */
}

.review-button:focus {
    outline: none; /* Rimuove la linea blu di focus */
}





/* Sezione Contatti */
#contatti {
    text-align: center;
    margin-top: 40px;
}

#contatti h1 {
    font-size: 2.5em;
    color: #0077b6; /* Blu mare */
    margin-bottom: 30px;
}

/* Contenitore per i pulsanti di contatto */
.contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Stile per ogni pulsante */
.contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    width: 250px;
}

.contact-btn i {
    margin-right: 10px; /* Spazio tra l'icona e il testo */
}

/* Colori specifici per ogni tasto */
.phone {
    background-color: #34b7f1; /* Colore blu per la chiamata */
}

.phone:hover {
    background-color: #1d8dba;
}

.facebook {
    background-color: #3b5998; /* Colore blu di Facebook */
}

.facebook:hover {
    background-color: #2d4373;
}

.instagram {
    background-color: #e4405f; /* Colore rosso di Instagram */
}

.instagram:hover {
    background-color: #c13584;
}

.maps {
    background-color: #4285f4; /* Colore blu di Google Maps */
}

.maps:hover {
    background-color: #357ae8;
}

.google {
    background-color: #db4437; /* Colore rosso di Google */
}

.google:hover {
    background-color: #c1351d;
}

/* Hover generico per i pulsanti */
.contact-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}















/* Stile per il testo di introduzione */
#intro h1 {
    font-size: 2.8em;
    color: #c2d11b; /* Blu mare */
    text-align: center;
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

#intro p {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

/* Stile per il bottone */
.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #ff9900;
}





/* Stili generali per il logo */
#logo {
    display: block;
    margin: 0 auto 20px auto;  /* Centra l'immagine sopra il titolo con uno spazio sotto */
    max-width: 200px;  /* Imposta una larghezza massima */
}

/* Sezione intro */
#intro .logo img,
#order-intro img#logo,
#menu-intro img#logo,
#ombrelloni-intro img#logo,
#recensioni-intro img#logo,
#contatti-intro img#logo {
    display: block;
    margin: 0 auto 20px auto;  /* Centra l'immagine sopra il titolo con spazio sotto */
    max-width: 200px;  /* Imposta una larghezza massima */
}

/* Sezione Intro */
#intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}
/* Sezione menu */
#menu {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}

/* Sezione Ordine */
#order-intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}

/* Sezione Ombrelloni */
#ombrelloni-intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}

/* Sezione Recensioni */
#recensioni-intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}

/* Sezione Contatti */
#contatti-intro {
    padding-top: 50px; /* Spazio extra sopra il contenuto */
    text-align: center;
}



#review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;  /* Larghezza del contenitore */
    max-width: 600px;  /* Larghezza massima */
    margin: 0 auto;  /* Centra il contenitore */
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #0077b6;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 400px;  /* Altezza fissa del contenitore */
    overflow: hidden;  /* Nasconde le parti fuori dal contenitore */
    margin-top: 20px;  /* Aggiungi margine sopra */
    margin-bottom: 20px;  /* Aggiungi margine sotto */
}

.review-container {
    display: flex;
    justify-content: center;  /* Centra le immagini orizzontalmente */
    align-items: center;  /* Centra le immagini verticalmente */
    width: 100%;  /* Usa tutta la larghezza del contenitore */
    transition: transform 1s ease-in-out;  /* Transizione per lo scorrimento */
}

.carousel-image {
    width: 100%;  /* Ogni immagine occupa tutta la larghezza disponibile */
    height: 100%;  /* Ogni immagine occupa tutta l'altezza disponibile */
    object-fit: cover;  /* Mantieni il rapporto di aspetto e riempi il contenitore senza distorcere */
    display: none;  /* Nascondi tutte le immagini inizialmente */
}

.carousel-image:first-child {
    display: block;  /* Mostra la prima immagine all'inizio */
}




/* Stile per le voci del menu */
header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;  /* Imposta il contesto per l'elemento */
    padding-left: 20px;  /* Aggiungi spazio tra il testo e il puntino */
}

/* Aggiungi il puntino accanto al testo */
header nav a::before {
    content: '•';  /* Puntino prima del testo */
    position: absolute;
    left: 0;  /* Posiziona il puntino all'inizio */
    top: 50%;  /* Posiziona il puntino al centro verticalmente */
    transform: translateY(-50%);  /* Centra verticalmente */
    font-size: 2em;  /* Imposta la dimensione del puntino */
    color: #ffcc00;  /* Colore del puntino */
}

/* Contenitore principale del menu */
#bar-menu {
    display: flex;
    flex-direction: column;     /* Dispone gli elementi in colonna */
    justify-content: center;    /* Centra verticalmente */
    align-items: center;        /* Centra orizzontalmente */
    text-align: center;         /* Centra il testo */
    padding: 20px;
    width: 100%;
    max-width: 900px;           /* Imposta una larghezza massima per il menu */
    margin: 0 auto;             /* Centra il menu nella pagina */
}

/* Categoria del menu (es. Bevande, Birre) */
.menu-category {
    width: 100%;
    margin-bottom: 30px;
}

/* Titolo di ogni categoria (Bevande, Birre...) */
.menu-category h2 {
    font-size: 2.5em;
    color: #0077b6;
    margin-bottom: 15px;
}

/* Lista degli elementi del menu */
.menu-category ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 800px;            /* Imposta una larghezza massima per la lista */
    margin: 0 auto;              /* Centra la lista orizzontalmente */
}

/* Elemento della lista (li) */
.menu-category li {
    display: flex;               /* Usa flexbox per allineare descrizione e prezzo sulla stessa linea */
    justify-content: space-between; /* Spazio tra descrizione e prezzo */
    align-items: center;         /* Allinea verticalmente al centro */
    padding: 15px 0;
    border-bottom: 1px solid #ccc; /* Linea sotto ogni elemento */
}

/* Titolo del prodotto (es. Acqua Liscia) */
.menu-category li h3 {
    font-size: 1.5em;
    color: #0077b6;
    margin: 0;
    flex: 1; /* Lascia che il titolo prenda tutta la larghezza disponibile */
    text-align: left;  /* Allinea il titolo a sinistra */
}

/* Descrizione del prodotto */
.menu-category li p {
    font-size: 1em;
    text-align: left;   /* Allinea la descrizione a sinistra */
    margin: 0;
    flex: 2;            /* Fa in modo che la descrizione prenda più spazio */
}

/* Prezzo del prodotto */
.menu-category li .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #0077b6;
    text-align: right;  /* Allinea il prezzo a destra */
}

/* Media queries per dispositivi più piccoli */
@media (max-width: 768px) {
    /* Rende il menu più compatto su schermi piccoli */
    .menu-category h2 {
        font-size: 2em;
    }

    .menu-category li h3 {
        font-size: 1.2em;
    }

    .menu-category li p {
        font-size: 0.9em;
    }

    .menu-category li .price {
        font-size: 1.1em;
    }
}
